TEST/SOAP/src/main/resources/xsd/M_AVOL_test_output.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://q_contabsap_saldo_150.ws.localhost/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="q_contabsap_saldo_150_TabularQuery">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element type="xs:string" minOccurs="0" name="m_UserName"/>
        <xs:element type="xs:string" minOccurs="0" name="m_Password"/>
        <xs:element type="xs:string" minOccurs="0" name="m_Company"/>
        <xs:element type="xs:string" minOccurs="0" name="pIDCOMPANY"/>
        <xs:element type="xs:string" minOccurs="0" name="pYEAR"/>
        <xs:element type="xs:string" minOccurs="0" name="pMONTH"/>
        <xs:element type="xs:string" minOccurs="0" name="pCREGCONT"/>
        <xs:element type="xs:string" minOccurs="0" name="pNPROGVRIPRN"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>